@media screen and (max-width: 780px){
    .cards{
        flex-wrap: wrap;
    }
    .card{
        width: calc((1 00% - 60px) / 3);
        margin-bottom: 40px;
    }
    
}
@media screen and (max-width: 780px){
    .who_in{
        display: block;
    }
    .who_img{
        width: 100%;
        margin-bottom: 25px;
    }
    .menu{
        overflow: hidden;
        width: 0;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.9);
        height: 100vh;
    }
    .menu li{
        text-align: center;
        font-size: 36px;
        margin: 30px 0;
    }
    .who_info{
        width: 100%;
    }
    .desc{
        margin-bottom: 35px;
    }
    .rev{
        width: calc(50% - 15px);
    }
    
}